extends ../components/base/layout

block variables
    - const title = "ANTISHICNC"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"

block main
    main
      
      +intro()
      +machine()
      +category()
      +buy()
      +campo()
      +form()

block modals
    +modal("modal--feedback")(data-modal="feedback")
        +popup()
