mixin articles-page()
    section.articles-page
        .buy__content 
            .buy__titles
                .machine__titles 
                    h1.machine__title Events
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            ul.articles__list
                li.articles__item 
                    .articles__info 
                        p.articles__date  November 22nd to November 25th, 2023
                        p.articles__name 2023 METALEX
                        p.articles__text Opening hours: 09:00 – 18:00 Address: 88 Bangna-Trad Road, Bangna, Bangkok 10260 – BITEC Organizer: REED EXHIBITIONS GROUP UK Held period: Once a year Exhibition area: 80020 m² Number of exhibitors: 1366 Number of vis...
                        a(href="#").articles__link Read more
                    .articles__image 
                        img(src="img/content/event1.png" alt="Event foto").articles__img
                    .articles__mobile
                        p.articles__text-mob Opening hours: 09:00 – 18:00 Address: 88 Bangna-Trad Road, Bangna, Bangkok 10260 – BITEC Organizer: REED EXHIBITIONS GROUP UK Held period: Once a year Exhibition area: 80020 m² Number of exhibitors: 1366 Number of vis...
                        a(href="#").articles__link-mob Read more
                li.articles__item 
                    .articles__info 
                        p.articles__date July 25
                        p.articles__name The Start-Up Ceremony Of Beijing No.1 Machine Tool Plant’s Ultra-Heavy CNC Gantry Turning And Milling Compound Machine Tool Was Held In DMSSC
                        p.articles__text Ruan Zhongkui, Secretary of the Party Committee and Chairman of Beijing Jingcheng Electromechanical Holdings Co., Ltd. (referred to as “Jingcheng Electromechanical”) ; 
                        a(href="#").articles__link Read more    
                    .articles__image 
                        img(src="img/content/event2.png" alt="Event foto").articles__img
                    .articles__mobile
                        p.articles__text-mob Ruan Zhongkui, Secretary of the Party Committee and Chairman of Beijing Jingcheng Electromechanical Holdings Co., Ltd. (referred to as “Jingcheng Electromechanical”) ; 
                        a(href="#").articles__link-mob Read more  
                li.articles__item
                    .articles__info 
                        p.articles__date November 22nd to November 25th, 2023
                        p.articles__name 2023 METALEX
                        p.articles__text Opening hours: 09:00 – 18:00 Address: 88 Bangna-Trad Road, Bangna, Bangkok 10260 – BITEC Organizer: REED EXHIBITIONS GROUP UK Held period: Once a year Exhibition area: 80020 m² Number of exhibitors: 1366 Number of vis...
                        a(href="#").articles__link Read more
                    .articles__image 
                        img(src="img/content/event1.png" alt="Event foto").articles__img
                    .articles__mobile
                        p.articles__text-mob Opening hours: 09:00 – 18:00 Address: 88 Bangna-Trad Road, Bangna, Bangkok 10260 – BITEC Organizer: REED EXHIBITIONS GROUP UK Held period: Once a year Exhibition area: 80020 m² Number of exhibitors: 1366 Number of vis...
                        a(href="#").articles__link-mob Read more 
                li.articles__item
                    .articles__info 
                        p.articles__date July 25
                        p.articles__name The Start-Up Ceremony Of Beijing No.1 Machine Tool Plant’s Ultra-Heavy CNC Gantry Turning And Milling Compound Machine Tool Was Held In DMSSC
                        p.articles__text Ruan Zhongkui, Secretary of the Party Committee and Chairman of Beijing Jingcheng Electromechanical Holdings Co., Ltd. (referred to as “Jingcheng Electromechanical”) ; 
                        a(href="#").articles__link Read more
                    .articles__image 
                        img(src="img/content/event2.png" alt="Event foto").articles__img
                    .articles__mobile
                        p.articles__text-mob Ruan Zhongkui, Secretary of the Party Committee and Chairman of Beijing Jingcheng Electromechanical Holdings Co., Ltd. (referred to as “Jingcheng Electromechanical”) ; 
                        a(href="#").articles__link-mob Read more 
            ul.pagination
                li.page-number-prev 
                    a(href="#!").pipe-machines__page-number-prev
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" transform="matrix(-1 0 0 1 40 0)" fill="#D20000"/>
                        <path d="M24 11L16 19.5L24 28" stroke="white" stroke-width="2"/>
                        </svg>
                li.page-item
                    a(href="#page").page-number 1
                li.page-item
                    a(href="#page").page-number.page-number--current 2
                li.page-item
                    a(href="#page").page-number 3
                li.page-item
                    a(href="#!").page-number-next
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" fill="#D20000"/>
                        <path d="M16 11L24 19.5L16 28" stroke="white" stroke-width="2"/>
                        </svg>
                            