mixin intro()
  section.intro
    .intro__content 
      h1.intro__title Nuestra misión es proporcionar las mejores máquinas de herramientas para procesos metalurgia<br>en todo el mundo
      .intro__info 
        button(type="button").intro__btn VER PRODUCTOS
        p.intro__text Más de 7 series y cientos de modelos de máquinas de corte de metal de sierra, tornos tales como universales y cnc tipos de torneado y fresadoras, rectificadoras, taladradoras, máquinas de electroerosión (EDM) y máquinas de corte por láser de fibra en ANTISHICNC línea de producción.
