mixin news-page()
    section.news-page
         .buy__content 
            .buy__titles
                .machine__titles 
                    h1.machine__title News description
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            .news-page__info 
                p.news-page__date January 23, 2024
                p.news-page__name ANTS Machine Equipment Company Successfully Exported A BS-912B Horizontal Miter Cutting Band Saw Machine To Surinam Client
                p.news-page__text Recently, our company successfully exported a BS-912B horizontal miter cutting band saw machine to a company in Surinam.<br><br>The client company is a leading brand in Suriname’s industrial sector. The company provides reliable, high-quality parts for all types of machine equipment. The company also offers services such as repairing cylinders, replacing the flexible pipe, manifold repair, and replacing silencers and catalysts.<br><br>The company produces products that can be used in different industries. Therefore, the company attaches great importance to the strength of its suppliers. Shanghai ANTS Machine stood out among many suppliers and successfully became the customer’s mechanical equipment supplier in China.<br><br>At present, the metal bandsaw machine is on its way to Suriname.
            .news-page__table 
                .news-page__fields
                    .news-page__lvl 
                        img(src="img/content/tab1.png" alt="Table1").news-page__img
                    .news-page__lvl 
                        img(src="img/content/tab2.png" alt="Table2").news-page__img
                    .news-page__lvl 
                        img(src="img/content/tab3.png" alt="Table3").news-page__img
                    .news-page__lvl 
                        img(src="img/content/tab4.png" alt="Table4").news-page__img
                