mixin news()
    section.news
        .buy__content 
            .buy__titles
                .machine__titles 
                    h1.machine__title News
                    .machine__line
                        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="4" fill="#D20000"/>
                        </svg>
            ul.articles__list
                li.articles__item 
                    .articles__info 
                        p.articles__date  January 23, 2024
                        p.articles__name ANTS Machine Equipment Company Successfully Exported A BS-912B Horizontal Miter Cutting Band Saw Machine To Surinam Client
                        p.articles__text Recently, our company successfully exported a BS-912B horizontal miter cutting band saw machine to a company in Surinam. The client company is a leading brand in Suriname’s industrial sector. The company provides reliable, high-quality parts...
                        a(href="#").articles__link Read more
                    .articles__image 
                        img(src="img/content/news1.png" alt="News1").articles__img
                    .articles__mobile
                        p.articles__text-mob Recently, our company successfully exported a BS-912B horizontal miter cutting band saw machine to a company in Surinam. The client company is a leading brand in Suriname’s industrial sector. The company provides reliable, high-quality parts...
                        a(href="#").articles__link-mob Read more
                li.articles__item 
                    .articles__info 
                        p.articles__date 
                        p.articles__name ANTISHI Machine EQUIPMENT Company Successfully Exported A GZ4233(CH-300HA) Fully Automatic PLC Control Horizontal Straight Cutting Band Saw Machine To Belarus Client
                        p.articles__text Recently, our company successfully exported a GZ4233(CH-300HA) Fully Automatic PLC Control Horizontal Straight Cutting Band Saw Cutting machine to a company in Belarus. The customer is a local company in Belarus that specializes in the import...
                        a(href="#").articles__link Read more    
                    .articles__image 
                        img(src="img/content/news2.png" alt="News2").articles__img
                    .articles__mobile
                        p.articles__text-mob Recently, our company successfully exported a GZ4233(CH-300HA) Fully Automatic PLC Control Horizontal Straight Cutting Band Saw Cutting machine to a company in Belarus. The customer is a local company in Belarus that specializes in the import...
                        a(href="#").articles__link-mob Read more  
                li.articles__item
                    .articles__info 
                        p.articles__date November 22, 2023
                        p.articles__name ANTISHI Machine EQUIPMENT Company Successfully Exported A TCK50AYx500 Turning And Milling CNC Lathe Machine To Russian Client
                        p.articles__text This month, our company successfully exported a TCK50AYx500 Turning and Milling CNC Lathe Machine to a company in Russia. Mr. Denis found us on our official website, he inquired us for a specific model, TCK36A slant bed CNC lathe machine, he a...
                        a(href="#").articles__link Read more
                    .articles__image 
                        img(src="img/content/news3.png" alt="News3").articles__img
                    .articles__mobile
                        p.articles__text-mob This month, our company successfully exported a TCK50AYx500 Turning and Milling CNC Lathe Machine to a company in Russia. Mr. Denis found us on our official website, he inquired us for a specific model, TCK36A slant bed CNC lathe machine, he a...
                        a(href="#").articles__link-mob Read more 
                li.articles__item
                    .articles__info 
                        p.articles__date December 05, 2023
                        p.articles__name ANTISHI Machine Company Successfully Exported A GZ4233(CH-300HA) Fully Automatic PLC Control Horizontal Straight Cutting Band Saw Machine To Belarus Client
                        p.articles__text Recently, our company successfully exported 1 Set SW-38NC Double Head Bending Machine to Ethiopia. The client is a hospital bed manufacturer in Ethiopia. The customer needs to make a bed frame and corresponding bed frame with a height of 1.3m...
                        a(href="#").articles__link Read more
                    .articles__image 
                        img(src="img/content/news4.png" alt="News4").articles__img
                    .articles__mobile
                        p.articles__text-mob Recently, our company successfully exported 1 Set SW-38NC Double Head Bending Machine to Ethiopia. The client is a hospital bed manufacturer in Ethiopia. The customer needs to make a bed frame and corresponding bed frame with a height of 1.3m...
                        a(href="#").articles__link-mob Read more 
            ul.pagination
                li.page-number-prev 
                    a(href="#!").pipe-machines__page-number-prev
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" transform="matrix(-1 0 0 1 40 0)" fill="#D20000"/>
                        <path d="M24 11L16 19.5L24 28" stroke="white" stroke-width="2"/>
                        </svg>
                li.page-item
                    a(href="#page").page-number 1
                li.page-item
                    a(href="#page").page-number.page-number--current 2
                li.page-item
                    a(href="#page").page-number 3
                li.page-item
                    a(href="#!").page-number-next
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" fill="#D20000"/>
                        <path d="M16 11L24 19.5L16 28" stroke="white" stroke-width="2"/>
                        </svg>
            