mixin popup()
    .popup--feedback
        .popup__titles 
            button.btn-reset.modal__close-button(type="button" arial-label="Закрыть попап" data-close-modal)
                +icon("icon-close", 21, 21)
            h2.popup__title Leave a request
            p.popup__text Leave your contacts and our manager will contact you as soon as possible
        form(method="post")
            +custom-input({
                label: "Your Name",
                type: "text",
                name: "name",
                placeholder: "You full Name"
            }).form__input
            +custom-input({
                label: "Phone number",
                type: "tel",
                name: "phone",
                placeholder: "(___)-___-__-__"
            }).form__input
            +custom-input({
                label: "Correo electrónico",
                type: "email",
                name: "email-adress",
                placeholder: "Email"
            }).form__input
            +custom-textarea({
                label: "Your question",
                name: "question",
                placeholder: "Message"
            }).form__input-text
            button(type="submit").form__btn enviar
            p.form__agreement By clicking on the «Submit» button, you agree with the personal data processing policy