.automatic {
    .buy__content {
        padding-top: 0;
    }

    .buy__titles {
        display: grid;
        grid-template-columns: 0.6fr 1.2fr;
        border-bottom: 2px solid rgb(217, 217, 217);
        gap: 10px;
        margin-bottom: 50px;
        align-items: center;
        position: relative;
    }

    .machine__line--moby {
        display: none;
    }

    .machine__line {
        position: absolute;
        bottom: -8px;
    }

    .machine__titles {
        //display: flex;
        margin-bottom: -8px;
    }

    .machine__title {
        border-bottom: none;
        padding-bottom: none;
    }

    .machine__text {
        color: rgb(210, 0, 0);
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 140%;
        text-align: right;
        margin: 0px 0 0;
        text-transform: uppercase;
        justify-self: end;
    }

    .pipe-machines__sublist.show {
        display: flex;
    }

    .pipe-machines__link {
        svg {
            transform: rotate(90deg);
        }
    }

    .pipe-machines__link--active {
        color: #d20000;

        svg {
            transform: rotate(270deg);
        }
    }


    .pipe-machines__link-depth1--active {
        color: #d20000;
        position: relative;
    }

    .pipe-machines__link-depth1--active::before {
        content: '';
        position: absolute;
        border-left: 4px solid rgb(210, 0, 0);
        width: 45px;
        height: 4px;
        background-color: rgb(210, 0, 0);
        left: -40px;
        top: 50%;
        transform: rotate(90deg);
    }

    .buy__list {
        grid-template-columns: 1fr 1fr 1fr;
    }



    @media screen and (max-width: 1280px) {
        .buy__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 1024px) {
        .machine__text {
            font-size: 32px;
        }

        &__inner {
            flex-direction: column;
        }

        &__list {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 600px) {
        .buy__titles {
            grid-template-columns: 1fr;
            border-bottom: none;
        }

        .machine__title {
            margin-bottom: -3px;
            border-bottom: 2px solid rgb(217, 217, 217);
        }

        .machine__text {
            text-align: left;
            font-size: 30px;
            margin-top: 20px;
        }

        .machine__line--moby {
            display: flex;
        }

        .machine__line {
            display: none;

        }

        .buy__list {
            display: grid;
            grid-template-columns: 1fr;
        }


    }


    @media screen and (max-width: 390px) {
        .machine__text {
            font-size: 24px;
        }
    }


}