.news-page {
    .buy__content {
        padding-top: 0;
    }

    .machine__titles {
        display: flex;
        margin-bottom: 50px;
    }

    &__date {
        color: rgb(128, 128, 128);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 20px;
    }

    &__name {
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 30px;
        max-width: 1030px;
    }

    &__text {
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin: 0 0 40px;
        max-width: 1045px;
    }

    .news-page__text>table {
        border: 1px solid rgb(217, 217, 217);
        border-bottom: none;
    }

    .news-page__text>table>tbody>tr>td {
        border-right: 1px solid rgb(217, 217, 217);
        padding: 10px;
        border-collapse: collapse;
        width: 100%;
    }

    .news-page__text>table>tbody>tr>td:last-child {
        border-right: none;
    }

    .news-page__text>table>tbody>tr {
        border-bottom: 1px solid rgb(217, 217, 217);
        display: flex;
        border-collapse: collapse;
    }

    &__fields {
        display: inline-block;
    }

    @media screen and (max-width: 1110px) {
        .news-page__text {
            overflow-x: auto;
        }

        .news-page__text>table {
            min-width: 1100px;
            margin-right: 20px;
        }

        .news-page__text>table>tbody {
            min-width: 100%;
            border-collapse: collapse;
        }

        ::-webkit-scrollbar {
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
        }

        ::-webkit-scrollbar-thumb {
            height: 8px;
            background-color: rgba(210, 0, 0, 0.2);
            border-radius: 10px;
        }

    }

    @media screen and (max-width: 768px) {
        .machine__titles {
            margin-bottom: 30px;
        }

        &__name,
        &__text {
            max-width: 100%;
        }

        /*&__table {
            overflow: hidden;
            overflow-x: scroll;
            white-space: nowrap;
            max-width: 180vw;
        }*/

        /*&__img {
            max-width: 600px;
            margin-right: 20px;
        }*/


    }

    @media screen and (max-width: 390px) {

        &__text {
            font-size: 16px;
        }
    }
}