.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 0 30px;
}

.next.page-numbers {
    padding: 0;
    display: flex;

    svg {
        transform: rotate(-180deg);
    }
}

.prev.page-numbers {
    padding: 0;
    display: flex;
}

.page-numbers {
    color: rgb(128, 128, 128);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    border: 1px solid rgb(217, 217, 217);
    padding: 6px 15px;
}

span.page-numbers.current {
    border: 1px solid rgb(210, 0, 0);
}


.prev.page-numbers:hover,
.next.page-numbers:hover {
    svg {
        rect {
            filter: brightness(1.5);
        }
    }
}

@media screen and (max-width: 600px) {
    .pagination {
        gap: 0 16px;
    }
}

@media screen and (max-width: 340px) {
    .pagination {
        gap: 0 6px;
    }
}