.pipe-machines {
    .buy__content {
        padding-top: 0;
    }

    .buy__titles {
        display: grid;
        grid-template-columns: 0.6fr 1.2fr;
        border-bottom: 2px solid rgb(217, 217, 217);
        gap: 10px;
        margin-bottom: 50px;
        align-items: center;
        position: relative;
    }

    .machine__line--moby {
        display: none;
    }

    .machine__line {
        position: absolute;
        bottom: -8px;
    }

    .machine__titles {
        //display: flex;
        margin-bottom: -8px;
    }

    .machine__title {
        border-bottom: none;
        padding-bottom: none;
    }

    .machine__text {
        color: rgb(210, 0, 0);
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 140%;
        text-align: right;
        margin: 0px 0 0;
        text-transform: uppercase;
        justify-self: end;
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 40px 30px;
        margin-bottom: 40px;
    }

    &__list {
        max-width: 340px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: rgb(245, 245, 245);
        padding: 30px 20px 40px;
    }

    &__link {
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0%;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid rgb(217, 217, 217);
        padding-bottom: 8px;
        transition: .2s;

        &--active {
            color: rgb(210, 0, 0);

            svg {
                transform: rotate(270deg) !important;

                path {
                    fill: rgb(210, 0, 0);
                }
            }
        }
    }

    &__link:hover {
        color: rgb(210, 0, 0);
    }

    &__link {
        svg {
            transition: .2s;
            transform: rotate(90deg);
        }
    }

    &__link:hover {
        svg {
            path {
                fill: rgb(210, 0, 0);
            }
        }
    }

    &__sublist {
        margin-top: 22px;
        flex-direction: column;
        gap: 22px;
        display: none;
    }

    .pipe-machines__sublist.show {
        display: flex;
    }

    &__link-depth1 {
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        transition: .2s;
    }

    &__link-depth1:hover {
        color: rgb(210, 0, 0);
    }

    .buy__list {
        grid-template-columns: 1fr 1fr 1fr;
    }



    @media screen and (max-width: 1280px) {
        .buy__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 1024px) {
        .machine__text {
            font-size: 32px;
        }

        &__inner {
            flex-direction: column;
        }

        &__list {
            max-width: 100%;
        }
    }

    /*@media screen and (max-width: 768px) {
        .machine__titles {
            margin-bottom: 30px;
        }
    }*/

    @media screen and (max-width: 600px) {
        .buy__titles {
            grid-template-columns: 1fr;
            border-bottom: none;
        }

        .machine__title {
            margin-bottom: -3px;
            border-bottom: 2px solid rgb(217, 217, 217);
        }

        .machine__text {
            text-align: left;
            font-size: 30px;
            margin-top: 20px;
        }

        .machine__line--moby {
            display: flex;
        }

        .machine__line {
            display: none;

        }

        .buy__list {
            display: grid;
            grid-template-columns: 1fr;
        }


    }

    @media screen and (max-width: 390px) {
        .machine__text {
            font-size: 24px;
        }
    }
}