.popup--feedback {

    /*&__content {
        max-width: 520px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 9999;
        padding: 50px 20px;
        background: rgb(255, 255, 255);
    }*/

    /*&__close {
        display: flex;
        justify-content: end;
        cursor: pointer;

        svg {
            path {
                stroke: rgb(210, 0, 0);
            }
        }
    }*/

    .popup__title {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        line-height: 130%;
        margin: 0 0 10px 0;
    }

    .popup__text {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
    }

    .form__agreement {
        margin-bottom: 0;
        color: rgb(26, 26, 26);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin: 0;
    }

    .form__box {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .custom-input input,
    .custom-input__label,
    .custom-textarea textarea,
    .custom-textarea__label {
        color: rgb(26, 26, 26);
        background: transparent;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 110%;
        display: inline-block;
    }

    .custom-input__label,
    .custom-textarea__label {
        margin-top: 20px;
    }

    .custom-input input,
    .custom-textarea textarea {
        background: rgb(243, 243, 243) !important;
    }

    .custom-input input {
        height: 50px !important;
    }

    .custom-textarea textarea {
        height: 130px;
    }

    .custom-textarea label {
        height: auto;
    }

    .form__btn {
        border-radius: 2px;
        background: rgb(210, 0, 0);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        text-transform: uppercase;
        margin-bottom: 35px;
        transition: .3s;
        margin-top: 20px;
    }

    .form__btn:hover {
        background: rgb(244, 0, 0);
    }
}